body{
  background-color: #FCF4EA;
  font-family: 'Big Shoulders Text', cursive;
  font-family: 'Libre Franklin', sans-serif;
}

/*Navigation*/
.topbarNav{
  top: 0;
  left: 0;
  padding: 15px;
  display:flex;
  vertical-align:top;
  background-color: #64394E;
  width:100%;
  justify-content: space-between;
  align-items: center;
}
.logoImage {
  margin:10px;
}

.topbarNav a{ 
  color: #C2908C;
  padding:10px;
  margin-right: 40px;
  font-size: 38px;
  font-weight: 500px;
}

/*HeroImage*/
.heroImg{
  display:flex;
  padding:10px;
  vertical-align:top;
  width:100%;
  align-items: top;
  justify-content:space-between;
}

.AboutMe{
  font-size: 38px;
  color: #64394E;
  margin-left: 50px;
}
.ProfilePic{
  margin-right:250px;
  margin-top: 20px;
}

/*footer*/
.footer{
  display:flex;
  vertical-align:top;
  background-color: #64394E;
  width:100%;
  color:#C2908C;
  justify-content: space-between;
}
.footerItems1{
  margin-top:12.5px;
  margin-left: 25px;
  font-size: 25px;
}
.footerItems2{
  font-size: 25px;
  margin-top: 12.5px;
  margin-right:50px;
}